{% extends 'index.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% if userform.instance.id %}
                        <h3>Editar Usuario</h3>
                    {% else %}
                        <h3>Nuevo Usuario</h3>
                    {% endif %}
                </div>
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            {{ userform.username.errors }}
                            <label>{{ userform.username.label }}</label>
                            {{ userform.username }}
                        </div>
                        <div class="form-group">
                            {{ userform.first_name.errors }}
                            <label>{{ userform.first_name.label }}</label>
                            {{ userform.first_name }}
                        </div>
                        <div class="form-group">
                            {{ userform.last_name.errors }}
                            <label>{{ userform.last_name.label }}</label>
                            {{ userform.last_name }}
                        </div>
                        <div class="form-group">
                            {{ userform.email.errors }}
                            <label>{{ userform.email.label }}</label>
                            {{ userform.email }}
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <label>Administrador:</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn bg-olive">
                                <input type="radio" name="is_superuser" id="option2" autocomplete="off"> Si
                            </label>
                            <label class="btn bg-olive">
                                <input type="radio" name="no_superuser" id="option3" autocomplete="off"> No
                            </label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'usuario_index' %}" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}