{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" href="/static/admin-lte/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<div class="row">
    <div class="col-12">
        <div class="card">
            <form role="form" method="post">
                <div class="card-header">
                    {% if form.instance.pk %}
                    <h3>Editar Usuario</h3>
                    {% else %}
                    <h3>Nuevo Usuario</h3>
                    {% endif %}
                </div>
                {% csrf_token %}
                <div class="card-body">
                    <h4>Datos Personales</h4>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.nombre.label_tag }}</label>
                                {{ form.nombre }}
                                {{ form.nombre.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.apellidoPaterno.label_tag }}</label>
                                {{ form.apellidoPaterno }}
                                {{ form.apellidoPaterno.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.apellidoMaterno.label_tag }}</label>
                                {{ form.apellidoMaterno }}
                                {{ form.apellidoMaterno.errors }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.fechaNacimiento.label_tag }}</label>
                                {{ form.fechaNacimiento }}
                                {{ form.fechaNacimiento.errors }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.curp.label_tag }}</label>
                                {{ form.curp }}
                                {{ form.curp.errors }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.direccion.label_tag }}</label>
                                {{ form.direccion }}
                                {{ form.direccion.errors }}
                            </div>
                        </div>
                        <input type="hidden" name="estado" value="26" />
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.municipio.label_tag }}</label>
                                {{ form.municipio }}
                                {{ form.municipio.errors }}
                            </div>
                        </div>
                        <input type="hidden" name="localidad" value="1" />
                        <!--<div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{ form.localidad.label_tag }}</label>
                                    {{ form.localidad }}
                                    {{ form.localidad.errors }}
                                </div>
                            </div>-->
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <hr>
                            <h4>Social</h4>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.correo.label_tag }}</label>
                                {{ form.correo }}
                                {{ form.correo.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.facebook.label_tag }}</label>
                                {{ form.facebook }}
                                {{ form.facebook.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.whatsapp.label_tag }}</label>
                                {{ form.whatsapp }}
                                {{ form.whatsapp.errors }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <hr>
                            <h4>Sector y Organización</h4>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.sector.label_tag }}</label>
                                {{ form.sector }}
                                {{ form.sector.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.organismo.label_tag }}</label>
                                {{ form.organismo }}
                                {{ form.organismo.errors }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nivel_confianza" style="margin-bottom: 20px;">Nivel de Confianza: <span
                                        id="nivel_confianza_text">{{ form.instance.nivel_confianza }}</span></label>
                                <input type="range" name="nivel_confianza" min="0" value="{{ form.instance.nivel_confianza }}" max="5" class="custom-range custom-range-teal"
                                    id="nivel_confianza">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'persona_index' %}" class="btn btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
<script src="/static/admin-lte/plugins/select2/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="/static/admin-lte/plugins/moment/moment.min.js"></script>
<script src="/static/admin-lte/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<style>
    span.select2-selection.select2-selection--single {
        height: 38px !important;
    }
    #nivel_confianza_text{
        color: #217effc4;
        margin-left: 30px;
    }
</style>
<script>
    $(function () {
        $('#id_fechaNacimiento').datepicker();
        $("select").select2();
        $("#id_whatsapp").inputmask({ "mask": "(999) 999-9999" });

        $("#nivel_confianza").on('input', function () {
            $("#nivel_confianza_text").html($(this).val());
        });
    });
</script>
{% endblock %}