{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" href="/static/admin-lte/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="/static/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<div class="row">
    <div class="col-12">
        <div class="card">
            <form role="form" name="myForm" method="post" onsubmit="return validateForm()">
                <div class="card-header">
                    {% if form.instance.pk %}
                    <h3>Editar Registro</h3>
                    {% else %}
                    <h3>Nuevo Registro</h3>
                    {% endif %}
                </div>
                {% csrf_token %}
                <div class="card-body">
                    <h4>Datos Personales</h4>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>{{ form.apellidoPaterno.label_tag }}</label>
                                {{ form.apellidoPaterno }}
                                {{ form.apellidoPaterno.errors }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>{{ form.apellidoMaterno.label_tag }}</label>
                                {{ form.apellidoMaterno }}
                                {{ form.apellidoMaterno.errors }}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>{{ form.nombre.label_tag }}</label>
                                {{ form.nombre }}
                                {{ form.nombre.errors }}
                            </div>
                        </div>
                           <div class="col-sm-3">
                            <div class="form-group">
                                <label>{{ form.sexo.label_tag }}</label>
                                {{ form.sexo }}
                                {{ form.sexo.errors }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6">
                            <div class="form-row align-items-center">
                                <label style="width: 100%;">{{ form.fechaNacimiento.label_tag }}</label>
                                <div class="clearfix"></div>
                                <br>
                                <input type="hidden" name="fechaNacimiento" id="fechaNacimiento" value="{{ form.instance.fechaNacimiento }}">
                                <div class="col-auto">
                                    <input type="number" class="form-control mb-4" id="d" name="date" min="1" max="31" />
                                </div>
                                <div class="col-auto">
                                    <input type="number" class="form-control mb-4" id="m" name="month" min="1" max="12" />
                                </div>
                                <div class="col-auto">
                                    <input type="number" class="form-control mb-4" id="y"  name="year" min="1900" max="9999" />
                                </div>
                                {{ form.fechaNacimiento.errors }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <input type="hidden" name="localidad" value="1" />
                        <!--<div class="col-sm-4">
                                <div class="form-group">
                                    <label>{{ form.localidad.label_tag }}</label>
                                    {{ form.localidad }}
                                    {{ form.localidad.errors }}
                                </div>
                            </div>-->
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <hr>
                            <h4>Contacto</h4>
                        </div>
                        <div class="clearfix"></div>
                           <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.calle_numero.label_tag }}</label>
                                {{ form.calle_numero }}
                                {{ form.calle_numero.errors }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.colonia.label_tag }}</label>
                                {{ form.colonia }}
                                {{ form.colonia.errors }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.codigo_postal.label_tag }}</label>
                                {{ form.codigo_postal }}
                                {{ form.codigo_postal.errors }}
                            </div>
                        </div>
                        <input type="hidden" name="estado" value="26" />
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.municipio.label_tag }}</label>
                                {{ form.municipio }}
                                {{ form.municipio.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.correo.label_tag }}</label>
                                {{ form.correo }}
                                {{ form.correo.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.facebook.label_tag }}</label>
                                {{ form.facebook }}
                                {{ form.facebook.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.whatsapp.label_tag }}</label>
                                {{ form.whatsapp }}
                                {{ form.whatsapp.errors }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12">
                            <hr>
                            <h4>Sector y Organización</h4>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.sector.label_tag }}</label>
                                {{ form.sector }}
                                {{ form.sector.errors }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>{{ form.organismo.label_tag }}</label>
                                {{ form.organismo }}
                                {{ form.organismo.errors }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nivel_confianza" style="margin-bottom: 20px;">Nivel de Confianza: <span
                                        id="nivel_confianza_text">{{ form.instance.nivel_confianza }}</span></label>
                                <input type="range" name="nivel_confianza" min="0" value="{{ form.instance.nivel_confianza }}" max="5" class="custom-range custom-range-teal"
                                    id="nivel_confianza">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'persona_index' %}" class="btn btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
<script src="/static/admin-lte/plugins/select2/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="/static/admin-lte/plugins/moment/moment.min.js"></script>
<script src="/static/admin-lte/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<style>
    span.select2-selection.select2-selection--single {
        height: 38px !important;
    }
    #nivel_confianza_text{
        color: #217effc4;
        margin-left: 30px;
    }
</style>
<script>
    $(function () {
        $('#id_fechaNacimiento').datepicker();
        $("select").select2();
        $("#id_whatsapp").inputmask({ "mask": "(999) 999-9999" });

        $("#nivel_confianza").on('input', function () {
            $("#nivel_confianza_text").html($(this).val());
        });
    });

    function validateForm() {
        var d = document.forms["myForm"]["date"].value;
        var m = document.forms["myForm"]["month"].value;
        var y = document.forms["myForm"]["year"].value;

        if(d == null || d == ""){
            alert("El día de nacimiento es inválido.");
            return false;
        }
        if(m == null || m == ""){
            alert("El mes de nacimiento es inválido.");
            return false;
        }
        if(y == null || y == ""){
            alert("El año de nacimiento es inválido.");
            return false;
        }
        if((m == 4 || m == 6 || m == 9 || m == 11) && d == 31) {
            alert("El mes seleccionado solo tiene 30 días");
            return false;
        }
        if(m == 2 && d > 29 && (y%4 == 0)) {
            alert("El mes seleccionado solo tiene 29 días");
            return false;
        }

        if((m == 2) && d > 28) {
            alert("El mes seleccionado solo tiene 28 días");
            return false;
        }

        $("#fechaNacimiento").val(`${y}-${m}-${d}`);
        return true;
    }
</script>
{% endblock %}