{% extends 'index.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% if form.instance.pk %}
                    <h3>Editar Persona</h3>
                    {% else %}
                    <h3>Nueva Persona</h3>
                    {% endif %}
                </div>
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'grupo_index' %}" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}