{% extends 'index.html' %}
{% block content %}
    <style>
        .abreviar {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        {#white-space: nowrap;#}{#text-overflow:ellipsis;#}
        }

        .logo {
            width: 80px;
            height: 100%;
        }

        .info-box.thumbnails {
            min-height: 125px;
        }
    </style>
    <h3>Sectores</h3>
    <div class="row">
        <div class="clearfix"></div>
        {% for sector in sectores %}
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box thumbnails">
                    <img class="logo" src="/media/{{ sector.logo }}">
                    <div class="info-box-content abreviar">
                        <span class="info-box-text">{{ sector.nombre }}</span>
                        <span class="info-box-number">{{ sector.getRegistros }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        {% endfor %}
    </div>
    <h3>Organismos</h3>
    <div class="row">
        <div class="clearfix"></div>
        {% for organismo in organismos %}
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <img class="logo" src="/media/{{ organismo.logo }}">
                    <div class="info-box-content abreviar">
                        <span class="info-box-text">{{ organismo.nombre }}</span>
                        <span class="info-box-number">{{ organismo.getRegistros }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        {% endfor %}
    </div>
    <h3>Estructuras</h3>
    <div class="row">
        {% for estructura in estructuras %}
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                    <img class="logo" src="/media/{{ estructura.logo }}">
                    <div class="info-box-content abreviar">
                        <span class="info-box-text">{{ estructura.nombre }}</span>
                        <span class="info-box-number">{{ estructura.getRegistros }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        {% endfor %}
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2517862.7683534664!2d-112.14533718436935!3d29.360346295417248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86982969e74dd20f%3A0xcd56ff1afcbbe374!2sSonora!5e0!3m2!1ses!2smx!4v1581631694105!5m2!1ses!2smx"
                width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
{% endblock %}