{% extends 'index.html' %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>Municipios</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                        <th>Clave</th>
                        <th>Nombre</th>
                        </thead>
                        <tbody>
                        {% for municipio in filter.qs %}
                            <tr>
                                <td>{{ municipio.clave }}</td>
                                <td>{{ municipio.nombre }}</td>
                                <td>
                                    <a href="{% url 'municipio_editar' municipio.id %}"
                                       class="btn btn-success btn-sm btn-raised" title="Editar"
                                       data-toggle="tooltip">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}